<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title><%= t('title') %></title>
    <!-- Here we pass already transpiled and minified single css file from dist folder -->
    <link rel="stylesheet" type="text/css" href="./css/learnwords.css" />
</head>

<body>
<div id="learnwords" class="layout-box">
    <div class="content-box">
        <form name="signupForm" class="signupForm" action="/signup" method="post">
            <p>
                <% if (message) {%>
                <span class="login-form-msg"><%= message %></span>
                <% } %>
            </p>
            <div>
                <a href="/login"><%= t('nav.logIn') %></a>
            </div>
            <div>
                <label class="login-label"><%= t('text.inputName') %><input type="text"
                name="name" maxlength="30" /></label>
            </div>
            <div>
                <label class="login-label"><%= t('text.password') %><input type="password" name="password"
                required minlength="6" maxlength="30" placeholder="password"/></label>
            </div>
            <div>
                <label class="login-label"><%= t('text.email') %>
                    <input type="email" name="username" required placeholder="email" /></label>
            </div>
            <div>
                <input class="login-submit" type="submit" value='<%= t("nav.submit") %>' />
            </div>
        </form>
    </div>
</div>
</body>
</html>

